# Auto detect text files and perform LF normalization
* text=auto

# C# files
*.cs text diff=csharp
*.csx text diff=csharp
*.cshtml text diff=html
*.razor text diff=html

# XML project files
*.csproj text merge=union
*.vbproj text merge=union
*.fsproj text merge=union
*.dbproj text merge=union
*.sln text merge=union eol=crlf

# Configuration files
*.config text
*.json text
*.yml text
*.yaml text

# Scripts
*.sh text eol=lf
*.ps1 text eol=crlf

# Documentation
*.md text
*.txt text
AUTHORS text
CHANGELOG text
CHANGES text
CONTRIBUTING text
COPYING text
LICENSE text
README text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.7z binary
*.gz binary
*.tar binary
*.zip binary

# NuGet packages
*.nupkg binary
*.snupkg binary
